.header_bg {
    background-color: transparent !important;
    margin-top: -265px;
    min-height: 86vh !important;
    padding-top: 100px;
    
}

.content {


    section {

        &.hero {
            padding:0;
        }

    }

    p{
        font-size: 16px;
        @include media(max-width,1023px){
            font-size: 14px;
        }
    }

    .text_columns {       
        @include media (max-width, 768px){
            flex-direction: column !important;
        }
    }

}

.icon_button {
    display: flex !important;
    align-items: center !important;

    &:before {
        content: url(../img/icon/icn-book.svg);
        margin-right: 10px;
    }
}

.cta-group {
    display: flex;
    .button {
        margin-left: 0 !important;
    }
}


.slick-slider {
    padding-right: 0;
    padding-left: 80px;

    .slick-track {
        .slick-slide {
            transition: all 0.3s ease;            
        }
    }

    .slick-next {
        display:none !important;
    }

    @include media(max-width, 768px){        
        padding-left: 30px !important;

        .slick-prev {
            left: -10px !important;

        }
    }

}

.contact_section {
    position: relative;

    figure {
        
        &.floating_img {
            position: absolute;
        }
    }

    .contact_wrap {
        background: #F1E6DB;
        position:relative;


        .cell:first-child {
            margin-left: 0 !important;
            
        }

        .contact_box {
            position: absolute;
            top: 44px;
            right: 40px; 
            background: #fff;
            padding: 60px;

            .button {
                border-radius: 0;
            }

            h2 {
                margin-bottom: 30px;
            }

        }

        
        @include media (max-width, 1023px){
            .contact_box {
                position: unset;
                margin-right: 30px;
                margin-left: 30px;
                margin-top: -100px;
                margin-bottom: 50px;
                
                .button {
                    font-size: 16px;
                    width: 100%;             
                }
            }
            
            .cell:first-child {

                @include media (max-width, 1023px){
                    width: 100%;
                }
            }

            figure {
                img {
                    width: 100%;
                }
            }
        }
        
        @include media (max-width, 480px){
            .contact_box {
                padding:20px !important;
            }
        }

    }
    @include media (max-width,1023px){
        padding: 0 !important;
    }
}

figure {
        
    &.floating_img {

        &.img_lady_1 {
            right: 0;
            top: 40%
        }
        &.img_lady_2 {
            right: 0;
            top: 20%;
            z-index: -1;
        }
        
    }
    
}
