
// Select Footer Style
.footer {
    
    .footer_top{
        padding: 40px 0; 
        background-color: #fff;

        a,
        p {
            color: $color-dark;         
            line-height: 1.6;
            margin-bottom: 10px;
        }

        .social_icons {
            figure {
                display: inline-block;
                margin: 0;
            }
        }
    }

    .footer_logo {
        .figure {
            @media (max-width: 1023px) and (min-width: 768px){
                margin: 0;
            }
        }
    }

    .footer_bottom{
        background-color: #BFA687;
        color: #F9F9F9;
        padding: 40px 0;
        text-align: center;
        font-size: 12px;
         a{             
            color: #F9F9F9;
         }
         p {
             margin-bottom: 0;
         }
    }

}