
// Select Footer Style
.footer {
    
    .footer_top{
        padding: 40px 0; 
        background-color: #fff;

        a,
        p {
            color: $color-dark;         
            line-height: 1.6;
            margin-bottom: 10px;
            font-size: 14px;
        }

        .social_icons {
            figure {
                display: inline-block;
                margin: 0;                
                margin-right: 20px;
            }
        }
    }

    .col-item {
        @include media(max-width,1023px){
            margin-bottom: 20px;
        }

        &.footer_col {

            .title {
                font-weight: 600;
                font-size: 16px;
            }
            p {
                font-size: 14px;
            }

            @include media(max-width,1203px){

                .inner {
                    display: flex;

                    .col{
                        width: 50%;
                    }
                }

                .footer_logo {
                    figure {
    
                        width: 175px;
                        padding-bottom: 40px;
                    }
                }
            }
        }
    }

    .footer_logo {
        figure {
            margin: 0 auto;
        }
    }

    .footer_bottom{
        background-color: #BFA687;
        color: #F9F9F9;
        padding: 40px 0;
        text-align: center;
        font-weight: 300;
        font-size: 14px;

        .footer_copyright,
        .footer_links {
            display: inline-block;

            span {
                padding: 0 10px;
            }
        }

         a{             
            color: #F9F9F9;
         }
         p {
             margin-bottom: 0;
         }
         
         @include media(max-width,1023px){
                
            .footer_copyright,
            .footer_links {
                display: block;
            }
            
            .footer_copyright {

                span {
                    display: none;
                }
            }
         }
    }

}