
body{

	&.admin-bar {

		#wrapper{
			//margin-top: 145px;
			// .hsnav-s5{
				
			// 	top: 30px !important;

			// }
			.hsnav-s5 {
				&.is-stuck {

					top: 32px !important;

				}

				@include media(max-width, 782px){
					top: 0 !important;
					 &.is-stuck {
	
					 	top: 0  !important;
	
					}
	
				}				
			}

			@include media(max-width,1023px){
				.hero-s3 {
					&.services_hero {
						top: 30px !important;
					}
	
				}

			}
			
		}	
	}
	&.home {
		.home_header{
			display: block;
		}
		
		.services_header{
			display: none;
		}
	}
	&.page-template-services{		
		
		.services_header{
			transition: all 0.3s ease;
			display: block;

			.hsnav-s5 {				
				left: 0;
				right: 0;
				position: absolute;

				&.is_sticky{
					position: fixed;
					width: 100%;
					top: 0;
					left: 0;
					right: 0;
					transition: all 0.3s ease-in-out;
				}
				@include media (max-width, 1023px){
	
					position: unset;
					min-height: auto !important;
				}
			}
		}

		.services_hero {
			&.is_sticky {
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
			}
			@include media (max-width, 1023px){

				.hero-caption {
					transition: all 0.5s ease-in-out;
				}
			}
		}
	}
}

/* Header Sticky Nav Style 5 */
header {
	position: relative;
	z-index: 9999;
	
	&.overlap {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 999;
	}
	.hsnav-s5 {
		background: transparent;
		box-shadow: none;
		max-width: none !important;
		transition: all 0.3s ease;
		
		&.sticky {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
		}
		&.services_sticky.is-stuck  {

			background: transparent;
			box-shadow: none;
			
			@include media (max-width, 1023px) {
				background: #fff;				
				
				.navbar {
					min-height: 95px;
					transition: all 0.3s ease;
					min-height: 265px;

					.navlogo {
						figure {
							width: 70px;
						}
					}
				}
			}
		}
		&:not(.services_sticky).is-stuck{
			position: fixed;
			background: $color-white;
			box-shadow: 0 3px 6px 0 rgba($color-black, 0.16);
			transition: all 0.3s ease;
			
			.navbar {
				transition: all 0.3s ease;

				.navlogo {
					figure {
						width: 70px;
					}
				}

				.navmenu {					
					justify-content: flex-end;

					.is-dropdown-submenu {
						top: 83px;
					}
	
				}				

				.grid-container {					
					height: 87px;
					display: flex;
					flex-direction: row;
					flex-wrap: nowrap;
					align-items: center;
					justify-content: space-between;
				}

				@include media(max-width,1023px){	
					min-height: 95px;			
					padding-top: 14px;
					padding-bottom: 0;
				}

			}
		}

		.navbar {
			border-top:0;
			position: relative;
			padding: 14px 0;
			transition: all 0.3s ease;

			.logo, .navlogo {
				float: left;				
				height: 100%;
				overflow: visible;
				align-items: center;
				display: flex;

				figure {
					width: 180px;
					transition: all 0.3s ease;

					@media(max-width: 1023px) {		
						width: 90px;
					}
					
				}
				
			}

			.navmenu {
				display: flex; 
				justify-content: flex-start;
				transition: all 0.3s ease;

				a {
					border-radius: 3px;
					font-size: 14px;
					font-weight: 600;
					text-transform: uppercase;
					padding: 18px 40px;
					line-height: 1.1;
					color: #807366;

					&:hover {
						color: $color-primary;
					}
					&.menu_button {
						color: $color-white;
						margin-left: 40px;
						margin-bottom: 0;

						&:hover {
							background-color: $color-black;
						}
					}
				}

				.is-dropdown-submenu-parent > a:after {
					border:0;
					border-right: 2px solid;
					border-bottom: 2px solid;
					width: 8px;
					height: 8px;
					transform: rotate(45deg);
					right: 0;
					margin-top: -6px;
				}

				.is-dropdown-submenu {
					background: $color-primary;
					padding: 0;
					&.first-sub {						
						left: 0;
						right: auto;
					}
				}

				.submenu {
					border: 0;
					padding: 10px 0;
					li {
						display: block;
						padding: 5px;

						a {
							color: #fff;
							padding: 15px 20px;
						}

						&:hover {
							background: #fff;
							a{
								color: $color-black;
							}
						}
					}
				}

				.nav-cta {
					a {
						background: $color-primary;
						color: $color-white;
						font-weight: bold;
					}
				}

			}
			
			.navicon {
				width: 50px; 
				height: 50px; 
				position: absolute;  
				right: 20px; 
				top: 14px; 
				font-size: 0; 
				cursor: pointer; 
				display: block;

				&:before {
					content: ""; 
					position: absolute; 
					border-top: 3px solid $color-primary; 
					border-bottom: 3px solid $color-primary; 
					left: 14px; 
					top: 16px; 
					width: 40px; 
					height: 19px; 
					transition: all 0.3s ease;
				}
				&:after {
					content: ""; 
					position: absolute; 
					border-top: 3px solid $color-primary; 
					left: 14px; 
					top: 24px; 
					width: 40px; 
					transition: all 0.3s ease;
				}
				@at-root header.show-menu .hsnav-s5 .navicon {
					&:before {
						box-shadow: none; 
						left: 14px; 
						top: 24px; 
						height: 3px; 
						transform: rotate(-45deg); 
						border-bottom: 0; 
					}
					&:after {
						left: 14px; 
						top: 24px; 
						transform: rotate(45deg);
					}
				}

				@media(max-width: 1023px){									
					right: 30px;
					top: 30%;
				}

			}

			

			@include media(max-width, 1023px) {
				min-height: 115px;

				.mobmenu {
					position: fixed;
					top: -100vh;
					height: calc(100vh - 120px);
					left: 0;
					right: 0;
					background: $color-primary;
					transition:all 0.3s ease;
					overflow: auto;
					background: $color-white;

					ul.menu {
						display: block;
						margin: 0;
						padding:10px 50px; 
						width: 100%;

						> li.menu_item {
							text-align: left;
							display: block;
							margin: 0;
							border-top: 0;
							border-bottom: 1px solid #C4C4C4;

							&:last-child {
								border-bottom: 0;
							}

							a {
								font-size: 25px; 
								line-height: 1.7; 
								font-weight: 400; 
								text-transform: capitalize; 
								padding:16px 35px; 
								position: relative;
								font-family: $heading-font-family;

								background: linear-gradient(117.48deg, #B89E6C 20.85%, #D1C3B5 90.52%);
								-webkit-background-clip: text;
								-webkit-text-fill-color: transparent;
								-webkit-tap-highlight-color: transparent;

								&:before {
									position: absolute; 
									left: 25px; 
									top:50%; 
									margin-top:-22px; 
								}
								
								&:focus,
								&:hover,
								&:active,
								&:focus-visible {
									outline: none;
									color: $color-black;
								}
								
							}
							ul.submenu {
								margin: 0;
								padding: 0;
								background:$color-white;
								padding-bottom: 15px;

								li.menu_item {
									border: none;

									a {
										font-size:14px;
										font-family: $body-font-family;
										font-weight: 300;
										padding-left: 45px;
										text-transform: none; 
										text-align: left; 
										color: $color-black; 
										background: transparent;
										background: none;
										-webkit-text-fill-color: $color-black;	
										padding: 7px 35px;			
										-webkit-tap-highlight-color: transparent;								
										
										&:focus,
										&:hover,
										&:active,
										&:focus-visible {
											outline: none;
											color: $color-primary;
										}

									}
								}
							}
						}
					}

    				.submenu-toggle {
    					background:lighten($color-black, 90%)  url(../img/icn-plus.svg) no-repeat 17px center / 15px; 
    					width:55px; 
    					height: 47px; 
    					right: 0;

    					&[aria-expanded="true"] {
    						background-image: url(../img/icn-close-r.svg); 
    					}
    					&:after {
    						content: ""; border:0;
    					}
    				}
					
					@at-root header.show-menu .hsnav-s5 .mobmenu {
						display: block;
						top:115px;
					}
					@at-root header.show-menu .hsnav-s5.is-stuck .mobmenu {
						display: block;
						top:95px;
					}

				}
			}
		}

		@include media(max-width,1023px){
			top: 130px;
		}

	}
}

.hero {
	&.hero-s3 {
		min-height:500px;
		margin-top: -265px;
		display: flex;
		flex-wrap: wrap;
		align-content: center;
		flex-direction: column;
		justify-content: flex-end;

		&.home {
			
			min-height: 786px;		
			
			@media (max-width: 1600px) and (min-width:1024px){	
				.hero-caption {

					padding-top: 35%;		
					padding-bottom: 5%;
	
				}			
			}
			@include media(max-width, 600px) {
				min-height: auto;
			}
			@include media(max-width, 1023px) {
				.hero-caption {
					.grid-x {
						margin-top: 50px;
						min-height: auto;
					}
				}
			}
		}

		&.services_hero {
			margin-top: -265px !important;
			align-content: normal;
			flex-direction: column;
			flex-wrap: wrap;

			.hero-caption {
				h1 {
					font-size: 40px;
					@include media (max-width,1240px){						
    					padding-top: 130px;
					}
				}
				figure {
					margin-bottom: 0 !important;

				}
			}

			.subnav {
				padding: 20px;
				box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
				background: $color-white;
				z-index: 1;
				width:60%;
				margin: 0 auto;

				.menu {
					display: flex;
					justify-content: space-evenly;

					li.menu_item {
						a{
							color: $color-primary;
							font-size: 14px;
							font-weight: 600;
						}
					}
				}
				
			}

			&.is_sticky {
				margin-top: 0;
			}

			&:not(.is-stuck) {					

				.grid-x {
					min-height: 100%;
				}
				.hero-caption {
					.col-copy{
						padding-top: 5%
					}
				}
			}
			
			&.is-stuck {
				position: fixed;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
				min-height: 350px;
				z-index: 1;
				margin-top: 0 !important;

				.hero-caption {
					transition: all 0.5s ease-in-out;
					height: 370px;

					.grid-container {
						max-width: 1140px;
						transition: all 0.3s ease-in-out;
					}

					.col-image {
						figure {
							width: 80%;							
							transition: all 0.5s ease-in-out;
						}
					}

					.col-copy{
						.inner {
							margin-left: 90px;
							transition: all 0.5s ease-in-out;

							@include media (max-width,1112px) {
								h1 {
									font-size: 35px;
								}
							}
						}
					}

				}
				
				@include media (max-width, 1023px) {
				
					margin-top: 135px !important;
					display: none;
				}

				@media (max-width: 1600px) and (min-width:1024px){	
					.hero-caption {
	
						.grid-x {
							min-height: 450px;
						}
					}
				}

			}
						
			@media (max-width: 1600px) and (min-width:1024px){	
				.hero-caption {
					.grid-container {
						max-width: 1140px;
						transition: all 0.3s ease-in-out;
					}

					.col-copy{
						.inner {
							margin-left: 90px;
							transition: all 0.5s ease-in-out;
						}
					}
				}
				.subnav {
					width: 80%;
				}

			}
				
			@include media (max-width, 1023px) {
				position: unset;
				margin-top: 0 !important;

				.cell {
					width: 100%;
					margin: 0 auto;
					
					&:first-child {
						display: none;
					}
				}
				figure.bg {
					position: absolute;
					z-index: -1;

					&:before {
						display: none;
					}
				}
				
				.hero-caption {
					width: 50%;
					margin: 0 auto;
					.grid-x {
						margin-top: 0;
					}
				}
				
				
				.subnav {
					display: none;
				}
			}
		}
		
		figure {
			&.bg {
				&:before{
					content: '';
					bottom: -1px;
					z-index: 1;
					background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDBweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmZmZmZmYiPjxwYXRoIGQ9Ik0xMjgwIDE0MFYwUzk5My40NiAxNDAgNjQwIDEzOSAwIDAgMCAwdjE0MHoiLz48L2c+PC9zdmc+);
					background-size: 100% 100px;
					height: 100px;			
					display: block;
					background-repeat: no-repeat;
					position: absolute;
					pointer-events: none;
					width: 100%;
					left: 0;
					right: 0;
					
					@include media (max-width, 480px) {						
						background-size: 150% 100px;
						background-position: center;
					}
					
					@include media (max-width, 375px) {						
						background-size: 200% 100px;
						background-position: center;
					}
				}
			}
		}

		.hero-caption {
			
			h1 {
				font-size: 50px;
				line-height: 1.3;
    			color: $color-black;
			}

			.hero_caption_text {
				width: 80%;
				padding-top: 20px;

				p {
					font-size: 22px;
					line-height:32px;
				}
				

			}

			@include media (max-width, 1381px){		
				h1 {
					font-size: 40px;
				}
				.hero_caption_text {
					width: 100%;	
				}
			}
			@include media (max-width, 1023px){		
				h1 {
					background: linear-gradient(117.48deg, #B89E6C 20.85%, #D1C3B5 90.52%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}

			@include media (max-width, 768px){		
				h1 {
					font-size: 25px;
				}
				p{
					font-size: 14px !important;
					line-height: 1.7 !important;
				}
			}

			

		}

		@include media (max-width, 1023px){
			margin-top: 0;
			display: block;
			min-height: 100%;

			.bg {
				position: relative;
			}
		}
		
	}
}