
.sticky-container:not(.home_header) {

    @include media(max-width, 1023px){
        height: auto !important;
    }

}
.services_content {
    // top: 500px;
    // left: 0;
    // right: 0;
    // position: fixed;
        
    .services_nav {
        display: none;
        justify-content: space-evenly;
        background: $color-white;
        z-index: 1;
        width: 80%;
        margin: 0 auto;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
        transition: all 0.5s ease-in-out;
        box-sizing: border-box;
        position: fixed;

        .nav_item {
            padding: 0 20px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            div {
                padding: 20px 0;
                text-align: center;
                
                span{
                    color: #847A6A;
                    font-size: 14px;
                    font-weight: 600;
                }

            }
            &.slick-slide {
                &:active,
                &:hover {
                    div {
                        border-bottom: 3px solid #847A6A;
                    }
                }

            }
            
        }

        &.is_sticky {
            top: 95px;
        }
                 
        @media (max-width: 1023px) and (min-width:783px){			
            
            &.is_sticky {
                top: 115px;
            }
        }

        @include media(max-width, 1023px){
            display: flex;
            width: 100%;
            justify-content: normal;
        }

        @include media(max-width, 768px){
            padding-left: 0!important;
        }
                            
        @media (max-width: 1600px) and (min-width:1024px){			
            width: 80%;
        }

    }

    
    .services {
        .grid-container {
            max-width: 950px;
        }
        .services_item {
            position: relative;
        }

        
        @include media (max-width, 1023px){

            .services_item {
                .col-image {
                    img {
                        width: 70%;
                    }
                }
            }     
            
            &.is_sticky {
                .services_item {
                    padding-top: 240px !important;
                }
            }   

        }

    }

    .section_title {
        margin-bottom: 15px;

        h1,h4 {
            margin-bottom: 0;
        }

        h4 {
            font-weight: 400;
            color: $color-primary;
            font-weight: 14px;
            text-transform: uppercase;
        }
    }

    .cols2-s1 {

        .col-image {
            margin-right: 40px;
        }
    }

}
