.hero {
    &.hero-s6{        
		
		//services page template
		&.services_page{
			
    		min-height: 100%; 
			height: 500px;

            figure {
                &.bg {
                    position: absolute;
                }
            }

			.subnav {
				box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
				background: $color-white;
				z-index: 1;
				width:60%;
				margin: 0 auto;
				position: relative;	
				bottom: 50px;	

				.menu {
					display: flex;
					justify-content: space-evenly;

					li.menu_item {
                        padding: 0 20px;
						a {
                            padding: 25px 0;
							color: $color-primary;
							font-size: 14px;
							font-weight: 600;
							-webkit-tap-highlight-color: transparent;
						}

                        &.is_active {
                            a {
                                border-bottom: 3px solid #847A6A;
                                box-sizing: border-box; 
                            }
                        }
					}
				}	
                
                &:not(.is_sticky) {
                    position: relative;
                }
                
                &.is_sticky {
                    position:fixed;
                    top: 145px;
                    left: 0;
                    right: 0;
                    bottom: auto;
                }	
			}

			.hero-caption{
				padding: 90px 0 0;

				.col-copy {
					padding-top: 90px;

					h1 {
						font-size: 40px;
					}

				}
				.col-image {

					figure {						
    					width: 80%;
					}

				}
			}

			@media (max-width: 1600px) and (min-width: 1024px) {
				.subnav {
					width: 85%;
				}
			}
            
			@include media (max-width, 1024px) {
                min-height: 500px !important;

                .hero-caption {
                    padding: 140px 0 80px;
                    
                    h1 {
                        font-size: 35px !important;
                    }
                }

				.subnav {
                    bottom: 80px;
				}
			}
			@include media (max-width, 1023px) {
                min-height: 100% !important;
                height: 100%;

                figure {
                    &.bg{
                        &:after{ 
                            display: none;
                        }
                    }
                }

				.subnav {
					display: none;
				}

                .hero-caption {
                    padding: 90px 0 0;	
                    h1 {
                        -webkit-text-fill-color: $color-black;
                        margin-bottom: 0 !important;
                        line-height: 1.4;
                    }
                    .col-copy {
                        padding-top: 40px;
                    }
                    .col-image {
    
                        figure {	
                            width: 100% !important;
                        }
                    }
                }

            }
            
			@include media (max-width, 768px) {
                height: 100%;

                .hero-caption {

                    h1 {
                        font-size: 30px !important;
                    }
                    .col-copy {
                        padding-top: 0;
                    }
                }
            }

            @include media (max-width, 520px) {

                .hero-caption {
                    h1 {
                        font-size: 24px !important;
                    }
                }
            }

            @include media (max-width, 375px) {

                .hero-caption {
                    h1 {
                        font-size: 16px !important;
                    }
                }
            }
            @include media (max-width, 320px) {

                .hero-caption {
                    h1 {
                        font-size: 14px !important;
                    }
                }
            }
		}

    }
}

.sticky-container:not(.home_header) {

    @include media(max-width, 1023px){
        height: auto !important;
    }

}
.services_content {
    // top: 500px;
    // left: 0;
    // right: 0;
    // position: fixed;
        
    .services_nav {
        display: none;
        justify-content: space-evenly;
        background: $color-white;
        z-index: 9999;
        width: 80%;
        margin: 0 auto;
        box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.16);
        transition: all 0.5s ease-in-out;
        box-sizing: border-box;

        &.is_sticky {
            position: fixed;
        }

        .nav_item {
            padding: 0 20px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            div {
                padding: 20px 0;
                text-align: center;
                
                span{
                    color: #847A6A;
                    font-size: 14px;
                    font-weight: 600;
                }

            }
            &.slick-slide {
                &.slick-current,
                &:active,
                &:hover {
                    div {
                        border-bottom: 3px solid #847A6A;
                        box-sizing: border-box; 
                    }
                }

            }
            
        }

        &.is_sticky {
            top: 100px;
        }

        .slick-prev {
            left: 0 !important;
        }
                 
        @media (max-width: 1023px) and (min-width:783px){			
            
            &.is_sticky {
                top: 130px;
            }
        }

        @include media(max-width, 1023px){
            display: flex;
            width: 100%;
            justify-content: normal;	
        }

        @media (max-width: 1600px) and (min-width:1024px){			
            width: 80%;
        }

    }

    
    .services {
        .grid-container {
            max-width: 950px;
        }
        .services_item {
            position: relative;
            padding-top: 40px;
        }
        
        @include media (max-width, 1023px){

            .services_item {
                .col-image {
                    img {
                        width: 40%;
                    }
                }

                .grid-x {
                    padding: 0 !important;
                    margin: 0 !important;
                }
            }     
            
            &.is_sticky {

                .services_item {
                    padding-top: 100px !important;
                }
            }   

        }

    }

    .section_title {
        margin-bottom: 15px;

        h1,h4 {
            margin-bottom: 0;
        }

        h4 {
            font-weight: 400;
            color: $color-primary;
            font-weight: 14px;
            text-transform: uppercase;
        }
    }

    .cols2-s1 {

        .col-image {
            margin-right: 40px;
        }
    }

    @include media (min-width, 1023px) {
        
        .cols2-s1 {

            .col-image {
                width: 100%;
            }
        }
    }

}
